@inherits LayoutComponentBase

<div class="auth-clean-container">
    @Body
</div>

<style>
    .auth-clean-container {
        width: 100vw;
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
</style>